.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    > div {
        min-width: 25%;
        border-right: 1px solid #cccccc;
        height: 50px;
        margin: 0 0 0 15px;
        text-align: left;
        align-items: center;
        display: flex;
    }
}
